body {
  background-color: #ECEAEA;
}
.title {
  font-size: 30px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  color: #000000;
}
.text {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  color: #000000;
}
.item {
  text-decoration: none;
  font-size: 20px;
  border-left: 0px solid;
  padding-left: 20px;
  border-color: #CC6666;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  color: #000000;
}
a:hover {
  color: #397171;
}
a:active {
  color: #DDDDDD;
}
.main {
  padding: 50px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
}
.outer {
  padding: 100px;
}
ul {
  list-style: none;
}
li {
  padding: 10px;
}
.copyright {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  color: #000000;
  font-size: 12px;
  text-color: #000000;
  padding-top: 20px;
}
